<ion-view title="Equipas" hide-nav-bar="true" id="page4" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <a ui-sref="tabsController.andebolMasculino" id="equipas-button2" style="text-align:left;" class=" button button-assertive  button-block icon-right ion-ios-arrow-forward ">Andebol Masculino</a>
        <a ui-sref="tabsController.basquetebolFeminino" id="equipas-button10" style="text-align:left;" class=" button button-assertive  button-block icon-right ion-ios-arrow-forward ">Basquetebol Feminino</a>
        <a ui-sref="tabsController.basquetebolMasculino" id="equipas-button3" style="text-align:left;" class=" button button-assertive  button-block icon-right ion-ios-arrow-forward ">Basquetebol Masculino</a>
        <a ui-sref="tabsController.futebol11Masculino" id="equipas-button4" style="text-align:left;" class=" button button-assertive  button-block icon-right ion-ios-arrow-forward ">Futebol 11 Masculino</a>
        <a ui-sref="tabsController.futsalFeminino" id="equipas-button5" style="text-align:left;" class=" button button-assertive  button-block icon-right ion-ios-arrow-forward ">Futsal Feminino</a>
        <a ui-sref="tabsController.futsalMasculino" id="equipas-button6" style="text-align:left;" class=" button button-assertive  button-block icon-right ion-ios-arrow-forward ">Futsal Masculino</a>
        <a ui-sref="tabsController.voleibolFeminino" id="equipas-button7" style="text-align:left;" class=" button button-assertive  button-block icon-right ion-ios-arrow-forward ">Voleibol Feminino</a>
        <a ui-sref="tabsController.voleibolMasculino" id="equipas-button8" style="text-align:left;" class=" button button-assertive  button-block icon-right ion-ios-arrow-forward ">Voleibol Masculino</a>
        <a ui-sref="tabsController.rugby7" id="equipas-button9" style="text-align:left;" class=" button button-assertive  button-block icon-right ion-ios-arrow-forward ">Rugby 7</a>
    </ion-content>
</ion-view>