<ion-view title="Jogos" hide-nav-bar="true" id="page2" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="jogos-form3" class="list ">
            <label class="item item-input " id="jogos-textarea1">
                <span class="input-label">Ultimos Resultados</span><textarea placeholder=""></textarea>
            </label>
            <ion-list id="jogos-list1" class=" ">
                <ion-item id="jogos-list-item1" class="  ">Item 1</ion-item>
                <ion-item id="jogos-list-item2" class="  ">Item 2</ion-item>
                <ion-item id="jogos-list-item3" class="  ">Item 3</ion-item>
            </ion-list>
        </form>
        <ion-list id="jogos-list2" class=" ">
            <label class="item item-input " id="jogos-textarea3">
                <span class="input-label">Próximos Jogos</span><textarea placeholder=""></textarea>
            </label>
            <ion-item id="jogos-list-item4" class="  ">Item 1</ion-item>
            <ion-item id="jogos-list-item5" class="  ">Item 2</ion-item>
            <ion-item id="jogos-list-item6" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>