<ion-view title="Jogos" hide-nav-bar="true" id="page2" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="jogos-form3" class="list ">
            <label class="item item-input " id="jogos-textarea1">
                <span class="input-label" >Últimos Resultados</span><textarea placeholder=""></textarea>
            </label>
            <ion-list id="jogos-list1" class=" ">
                <ion-item ng-repeat="result in lastResults">
                    <div style="float:left">{{result.team1}}</div> <div style="float:right">{{result.score1}}</div>
                    <br>
                    <div style="float:left">{{result.team2}}</div> <div style="float:right">{{result.score2}}</div>
                    </ion-item>
            </ion-list>
        </form>
        <label class="item item-input " id="jogos-textarea3">
                <span class="input-label">Próximos Jogos</span><textarea placeholder=""></textarea>
            </label>
        <ion-list id="jogos-list2" class=" ">
            <ion-item ng-repeat="nextMatch in nextMatches">
                <p font-size="10">{{nextMatch.place}}</p>
                <hr>
                <div style="float:left">{{nextMatch.team1}}</div> <div style="float:right">{{nextMatch.date}}</div>
                <br>
                <div style="float:left">{{nextMatch.team2}}</div> <div style="float:right">{{nextMatch.time}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>